.profile_pic_image {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background-color: #f5f9ff;
  border: 1px solid #e0e0e0;
  color: #1569e0;
  font-size: 24px;
  background-size: contain;
  background-position: 50%;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  overflow: hidden;
  margin: 20px;
}

.card_style {
  margin: 20px;
}

.HideForm {
  display: None;
}

.DisplayForm {
  display: block;
}
.style__divider___1j_Fp {
  width: 100%;
  height: 0;
  border-top: 1px solid #e0e0e0;
  display: block;
}


.style__tag___JUqHD {
  display: inline-block;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 0 8px 8px 0;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  max-width: 100%;
  vertical-align: middle;
  background-color: #f0f0f0;
  color: #575757;
}

.style__content___2INbm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.style__children___1bmK9 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}